<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome {{ title }} {{name}}!
  </h1> -->

 
<header>
  <h1>
    Welcome to the GroupGenerator!
  </h1>
  <h3>Entrez les noms et prénoms de votre liste et générez automatiquement des groupes déjà fait! *c'est magique*</h3>
  <form [formGroup]="user">
    <div class="mdc-layout-grid--align-center form-group">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <div class="mdc-text-field  mdc-text-field--no-label  myInput">
            <input [(ngModel)]="prenom" placeholder="Entrez votre prénom"type="text" id="tf-outlined"  class="mdc-text-field__input form-control" formControlName="firstname">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">

              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>


          <div class="mdc-text-field mdc-text-field--no-label myInput">
            <input [(ngModel)]="nom" placeholder="Entrez votre nom" type="text" id="tf-outlined"
              class="mdc-text-field__input form-control" formControlName="lastname">
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched__notch">
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <div class="myButtons">
            <button type="submit" (click)="submitmyForm()" class="mdc-fab bgButton" aria-label="Favorite">
              <i class="material-icons">add</i>
            </button>
            <button (click)="showDiv()" class="mdc-fab bgButton" aria-label="Favorite">
              <i class="material-icons">all_inclusive</i>
            </button>

          </div>

        </div>
      </div>
    </div>

  </form>
  
</header>

<main>
  <div class="mdc-layout-grid--align-center myMain">
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell--span-6 center-tab myContainerTb">
         <div class="mdc-data-table">
           <table class="mdc-data-table__table myTable" aria-label="Dessert calories">
             <thead>
               <tr class="mdc-data-table__header-row ">
                 <th class="mdc-data-table__header-cell--align-center" role="columnheader" scope="col">N°</th>
                 <th class="mdc-data-table__header-cell--align-center" role="columnheader" scope="col">Prénom</th>
                 <th class="mdc-data-table__header-cell--align-center" role="columnheader" scope="col">Nom</th>
               </tr>
             </thead>
             <tbody class="mdc-data-table__content center-tab">
               <tr class="mdc-data-table__row" *ngFor="let user of userList ; let i= index">
                 <td>{{i + 1}}</td> 
                 <td>{{user.firstname}}</td>
                 <td>{{user.lastname}}</td>  
               </tr>
               
                 

              

             </tbody>
           </table>
         </div>

      </div>

      <div id="welcomeDiv" style="display:none;" class="mdc-layout-grid__cell--span-6 center-tab myContainerTb">
        
          <div class="mdc-data-table">
            <table class="mdc-data-table__table myTable" aria-label="Dessert calories">
              <thead>
                <tr class="mdc-data-table__header-row center-tab">
                  <th class="mdc-data-table__header-cell--align-center" role="columnheader" scope="col">Groupe N°</th>
                  <th class="mdc-data-table__header-cell--align-center" role="columnheader" scope="col">Nom et prénom
                  </th>
                </tr>
              </thead>
              <tbody class="mdc-data-table__content center-tab">
                <ng-container *ngFor="let groups of groupList; let i= index">
                <tr class="mdc-data-table__row center-tab">

                   <td>{{i + 1}}</td>
                   <td>{{groups[0].firstname  + " " +groups[0].lastname}} + {{groups[1].firstname  + " " +groups[1].lastname}}</td>
                  

                </tr>
               
                </ng-container>


              </tbody>
            </table>
          </div>

        </div>


      

    </div>
  </div>
</main>
     

 
  




 
 
  