body{
    margin:0;
    padding:0;
}
header{
    background-color:rgb(211, 211, 211) !important;
    text-align: center;
    height:auto;
    padding-top: 2vh;
    }



.bg-header{
    height:30vh;
    
    padding:10vh 5vh;
}

.myButtons{
     margin-bottom: -20px;
}
.myInput{
     margin-top:3vh;
     margin-bottom:3vh;
     
}
.bgButton{
     background-color: rgb(0, 0, 0) !important;
     margin-left: 5px !important;

}
.myMain{
    margin-top:10vh;
}
.myContainerTb{
    margin-left:5vw;
}
.myTable{
    width:40vw;
    text-align: center;
    
    
}




